<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Reviews</title>
</head>
<body>
    <h1>Reviews for Books in {{ genre | capitalize }}</h1>

    <!-- Display the reviews -->
    <div id="reviews-container">
        <h2>Reviews</h2>
        <!-- Loop through each review passed and display it -->
        {% for review in reviews %}
            <p>{{ review[0] }}</p>
        {% endfor %}
    </div>

    <!-- submitting a new review -->
    <form action="/submit_review/{{ genre }}" method="post">
        <label for="review-text">Your Review:</label>
        <textarea id="review-text" name="review" required></textarea>
        <button type="submit">Submit Review</button>
    </form>

    <a href="/">Back to Home</a>
</body>
</html>
