<!-- start.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
</head>
<body>
    <h1>Social Reads Start Page</h1>
    <h2>Choose Your Access Level</h2>
    <p>Choose your access level to continue</p>
    <form action="/role" method="post">
        <button type="submit" name="role" value="user">User Access</button>
        <button type="submit" name="role" value="moderator">Moderator Access</button>
        <button type="submit" name="role" value="admin">Admin Access</button>
    </form>

    <!-- Conditional display of Regenerate button -->
    {% if role == 'admin' %}
    <form action="/regenerate" method="post">
        <button type="submit">Regenerate</button>
    </form>
    {% endif %}
      
</body>
</html>
